
{% macro marble_select(template_ID, all_marbles, selected_ID, color) %}
<select 
  id = "{{template_ID}}" 
  class="selectpicker"  
  data-live-search="true" 
  data-size="5"
  data-style = "{{color}}"
  >
  {% for marble in all_marbles %}
  <option 
  data-content="<div class='dropdown-item'>
    <div class='image-container' style='width: {{ 25 }}px; height: {{ 25 }}px;'>
        <img src='{{ url_for('static', filename='uploads/' ~ marble.Image) }}' style='width: {{(marble.Diameter1+marble.Diameter2)/65}}px; height: {{(marble.Diameter1+marble.Diameter2)/65}}px'>
      </div>
      <span>{{ marble.Name }}</span>
    </div>"
    
    value={{marble.ID}}
    
    {% if marble.ID == selected_ID %}selected{% endif %}

    {% if marble.Cheat %}
    class="color_C"
    {% else %}
    {% if marble.Team == "R" %}
    class="color_R"
    {% elif marble.Team == "U" %}
    class="color_U"
    {% elif marble.Team == "J" %}
    class="color_J"
    {% elif marble.Team == "A" %}
    class="color_A"
    {% elif marble.Team == "D" %}
    class="color_D"
    {% else %}
    class="color_I"
    {% endif %}
    {% endif %}
    >
  </option>
  {% endfor %}
</select>

{% endmacro %}
