.color_C {
    background-color: rgb(243, 235, 175);
    color: black;
}

.color_I {
    background-color: rgb(236, 236, 236);
    color: black;
}

.color_R {
    background-color: rgb(224, 234, 255);
    color: black;
}

.color_U {
    background-color: rgb(255, 230, 226);
    color: black;
}

.color_J {
    background-color: rgb(232, 245, 234);
    color: black;
}

.color_A {
    background-color: rgb(241, 232, 255);
    color: black;
}

.color_D {
    background-color: rgb(233, 216, 198);
    color: black;
}

