.color_C {
    background-color: rgb(219, 206, 87);
    color: black;
    font-weight: bold;
}

.color_I {
    background-color: rgb(185, 185, 185);
    color: black;
    font-weight: bold;
}

.color_R {
    background-color: rgb(148, 191, 255);
    color: black;
    font-weight: bold;
}

.color_U {
    background-color: rgb(255, 187, 178);
    color: black;
    font-weight: bold;
}

.color_J {
    background-color: rgb(128, 197, 139);
    color: black;
    font-weight: bold;
}

.color_A {
    background-color: rgb(222, 152, 255);
    color: black;
    font-weight: bold;
}

.color_D {
    background-color: rgb(204, 165, 121);
    color: black;
    font-weight: bold;
}

